<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data {{ siswa["nama"] }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Detail Siswa</h1>
        <div class="detail-siswa">
            <p><b>Nama:</b> {{ siswa["nama"] }}</p>
            <p><b>Umur:</b> {{ siswa["umur"] }}</p>
            <p><b>Kelas:</b> {{ siswa["kelas"] }}</p>
            <p><b>Alamat:</b> {{ siswa["alamat"] }}</p>
        </div>
        <a href="/siswa" class="btn-kembali">Kembali</a>
    </div>
</body>
</html>