<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Embedded Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Welcome to the Embedded Page!</h2>
        <p>This page demonstrates how to embed an image using Flask and HTML.</p>
    </div>
    <div class="container">    
        <img src="/static/image/bumblebee.jpg" alt="Embedded Image" class="embedded-image">
    </div>
    <div class="container">
        <p>Ke Home <a href="/">Home</a></p>
        <p>Ke Profile <a href="/profile/Wayne">Wayne</a></p>
        <p>Ke About <a href="/about">About Wayne</a></p>
        <p>Ke Input Form <a href="/input-form">Input Form</a></p>
    </div>
</body> 
</html>