<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Wayne's Website</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Wayne's Website!</h1>
        <p>
            Hello! I'm Wayne, a software developer passionate about building
            modern web applications. Feel free to explore my site and learn
            more about me.
        </p>
        
        <p>&copy; 2024 Wayne's Website</p>
    </div>
    <div class="container">
        <p>Ke Profile <a href="/profile/Wayne">Wayne</a></p> 
        <p>Ke About <a href="/about"><br />About Wayne</a></p>
        <p>Ke Input Form <a href="/input-form"> <br />Input Form</a></p>
        <p>Ke Embedded Page <a href="/embed">Embedded Page</a></p>
    </div>
</body>
</html>