<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="profile-card">
        <h1>Profile of {{ nama }}</h1>
        <p>Welcome to the profile page of {{ nama }}. Here you can find more information about them.</p>
        <p>{{ nama }} has {{ umur }} year's old.</p>
        <p>With address in {{ alamat }}.</p>
        <p>Ke Home <a href="/">Home</a></p>
        <p>Ke Profile <a href="/profile/Wayne">Wayne</a></p>
        <p>Ke About <a href="/about">About Wayne</a></p>
        <p>Ke Input Form <a href="/input-form">Input Form</a></p>
    </div>

</body>
</html>