<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Embedded Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Embedded Page</h1>
        <p>This page is designed to be embedded in an iframe.</p>
        <p>It can be used to display content from this website within another site.</p>
        <p>Ke Home <a href="/">Home</a></p>
        <p>Ke Profile <a href="/profile/Wayne">Wayne</a></p>
        <p>Ke About <a href="/about">About Wayne</a></p>
        <p>Ke Input Form <a href="/input-form">Input Form</a></p>
    </div>
    <div class="container">
        <iframe src="https://x.com/i/status/2026023900430131556" title="Embedded Video" class="embedded-iframe"></iframe>
    </div>
</body> 
</html>